/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 40px; /* Gap between grid items */
    padding: 40px; /* Padding around the grid */
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
    transform: scale(1.1);
}

.image-name {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    font-size: 12px;
}

@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: 1fr; /* One column */
        gap: 20px; /* Adjust the gap for smaller screens */
        padding: 20px; /* Adjust the padding for smaller screens */
    }
}
