/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Navbar Styles */
nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 10;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 20px; /* add some space between logo and menu */
}

.logo-image {
    height: 50px;
}

/* Menu Icon Styles */
.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

/* Cross Icon Styles */
.menu-icon .cross-icon {
    display: none;
    font-size: 24px;
    color: white;
}

/* Nav Links Styles */
.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute; /* added position absolute */
    top:30px; /* added top 0 */
    right: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Dropdown Submenu Styles */
.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%; /* Make sure the dropdown appears below the navbar */
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-left: 0; /* Add this line */
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.submenu-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-submenu:hover .submenu-content {
    display: block;
}

.dropdown-submenu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
}

/* Media Queries */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: static; /* Ensure the dropdown stays within the flow in mobile view */
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon .bar.active {
        display: none;
    }

    .menu-icon .cross-icon.active {
        display: block;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .dropdown-content, .submenu-content {
        position: static; /* Ensure the dropdown stays within the flow in mobile view */
        min-width: 100%;
        box-shadow: none;
    }
}

/* Additional Styles for Spacing */
.nav-links a {
    padding: 10px 15px;
}
