/* Center align tables */
.table-container {
    margin: 20px auto;
    max-width: 500px;
    overflow-x: auto;
}

/* Adjust table styles */
.membership-pricing-table {
    width: 80%;
    margin: 20px auto;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #cccccc;
    padding: 8px;
}

.membership-pricing-table table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    border-spacing: 0;
}

.membership-pricing-table table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.membership-pricing-table table tr:nth-child(odd) {
    background-color: #e8e8e8;
}

.membership-pricing-table table th {
    background-color: #666666;
    color: white;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}

.membership-pricing-table table td {
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .membership-pricing-table {
        width: 100%;
        overflow-x: auto;
    }
    
    .membership-pricing-table table th,
    .membership-pricing-table table td {
        padding: 8px;
        font-size: 20px;
    }
}
