/* General reset and base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* Adjust the width of the logo image */
    margin-right: 10px; /* Add some spacing between logo and text */
}

.header-title {
    margin: 0;
    font-size: 1.5rem; /* Adjust as needed */
    line-height: 1; /* Set line-height to 1 to remove spacing */
}

.sub-text {
    font-size: 0.8rem; /* Adjust as needed */
    color: #868686; /* Example color */
    display: block; /* Ensures each line is on its own line */
    margin-top: 5px; /* Add spacing between title and subtitle */
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #ffd900;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Hide the nav links initially on smaller screens */
        flex-direction: column; /* Stack the links vertically */
        position: absolute;
        top: 60px; /* Adjust top position as needed */
        left: 0;
        background-color: #333; /* Match header background */
        width: 100%;
        padding: 10px 0;
        text-align: center;
        box-sizing: border-box;
        z-index: 1000; /* Ensure menu is on top of other content */
    }

    .nav-links li {
        display: block;
        margin-bottom: 10px; /* Add spacing between menu items */
    }

    .nav-links a {
        padding: 10px 0; /* Adjust padding for easier tapping */
        display: block;
    }

    .menu-toggle {
        display: block; /* Show the hamburger menu icon */
        cursor: pointer;
        padding: 10px 15px;
        box-sizing: border-box;
    }

    .menu-toggle .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
        transition: 0.4s;
    }

    .menu-open .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-open .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
